
node_modules/
dist/


*.log*
*launch.json*
.idea/
.run/
.env*
.DS_Store
Thumbs.db
ngrok.yml
*launch.json*
*host.json*
*local.settings.json*
packages/devops/app/aws/build/
packages/devops/app/aws/cdk.out/
packages/devops/app/aws/cdk.context.json

packages/plugin/client/cypress/integration/.examples/
packages/plugin/client/cypress/screenshots/
packages/plugin/client/cypress/videos/
packages/servers/email-server/schema.gql
packages/shared/services/src/schema.types.ts
/.run/
*.vscode/settings.json*
.vscode/
.vscode
*.vscode/*
.vscode/*